.item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 40px;

  cursor: pointer;
}

.text {
  font: normal 600 20px/32px 'Inter Medium', sans-serif;
  color: #9590a0;
  margin: 0;
}

.item:hover .text {
  font-size: 24px;
  line-height: 36px;
  color: #eeecf1;
}

.item:hover svg path {
  stroke-width: 3;
  stroke: #9dc2ff;
}

svg {
  margin-right: 20px;
}

.active .text {
  font-size: 24px;
  line-height: 36px;
  color: #eeecf1;
}

.active svg path {
  stroke-width: 3;
  stroke: #9dc2ff;
}

@media (max-width: 1399px) {
  .text {
    display: none;
  }

  svg {
    margin-right: 0;
  }
}
