.nav {
  display: flex;
  flex-direction: column;
}

.title {
  font: normal 500 14px/22px 'Inter Medium', sans-serif;
  letter-spacing: 0.22px;
  color: var(--sub-text-color);
}

.sublink {
  font: normal 700 14px/17px var(--bold-font);
  letter-spacing: 0.75px;
  color: var(--text-color);
  text-decoration: none;

  margin-bottom: 16px;
}

.sublink:hover {
  text-decoration: underline;
  color: #9dc2ff;
}

.active {
  color: #9dc2ff;
  text-decoration: underline;
}
