.comments {
  margin-bottom: 30px;
}

.commentForm {
  display: flex;
}

.commentForm label {
  display: none;
}

.commentForm > div:first-child {
  flex-grow: 1;

  margin-right: 12px;
}

.commentForm > div:first-child div,
.commentForm > div:first-child input {
  width: 100%;
}

.commentForm svg {
  right: 8px;
  left: unset;
}

.commentForm button {
  width: 56px;
}

.commentForm button,
.commentForm button:disabled {
  background: var(--accent-color);
}

.commentForm button:disabled {
  opacity: 0.5;
}
