.comments {
  margin-bottom: 30px;
}

.comment {
  display: flex;

  position: relative;
}

.comment:not(:last-child) {
  margin-block: 20px;
}

.commentDelete {
  position: absolute;
  top: 0;
  right: 0;

  font: normal 700 12px/18px 'Inter Regular', sans-serif;
  color: var(--input-wrong);

  padding: 0;

  background: none;
  border: none;

  cursor: pointer;
}

.commentAvatar {
  width: 48px;
  height: 48px;

  margin-right: 20px;
}

.commentMain {
  flex-grow: 1;

  padding-bottom: 10px;
}

.comment:not(:last-child) .commentMain {
  border-bottom: 1px solid var(--base-color);
}

.commentMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentText {
  margin-bottom: 10px;

  font: normal 700 16px/24px 'Inter Regular', sans-serif;
  color: var(--text-color);
}

.commentAuthor,
.commentDate {
  font: normal 700 12px/18px 'Inter Regular', sans-serif;
  color: var(--text-color);
}

.commentForm {
  display: flex;
}

.commentForm label {
  display: none;
}

.commentForm > div:first-child {
  flex-grow: 1;

  margin-right: 12px;
}

.commentForm > div:first-child div,
.commentForm > div:first-child input {
  width: 100%;
}

.commentForm [class*='error'] {
  display: none;
}

.commentForm [class*='icon'] {
  right: 8px;
  left: unset;
}

.commentForm button {
  width: 56px;
}

.commentForm button,
.commentForm button:disabled {
  background: var(--accent-color);
}

.commentForm button:disabled {
  opacity: 0.5;
}
