.articles {
  margin-bottom: 60px;
}

.article {
  padding: 40px 50px 50px;

  background: var(--article-bg-color);
  border-radius: 10px;
}

.article:not(:last-child) {
  margin-bottom: 60px;
}

.title {
  font: normal 700 24px/36px var(--bold-font);
  color: var(--text-color);

  margin: 0 0 20px;
}

.description {
  font: normal 700 16px/24px var(--regular-font);
  color: var(--text-color);

  margin: 0 0 20px;
}
