.button {
  width: 337px;
  height: 56px;

  font: normal 700 24px/36px var(--bold-font);
  color: var(--second-color);

  background: #ffb41f;
  border: none;
  border-radius: 99px;

  cursor: pointer;
}

.button:disabled {
  background: #d1941a;
}
