.bar {
  position: fixed;
  top: -40px;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  color: white;
  font: normal 400 16px/28px var(--regular-font);
  text-align: center;

  background-color: #f6655a;

  transition: transform 0.3s ease;
}

[class*='bar-enter-done'] {
  transform: translateY(100%);
}
