.canvasWrapper,
.canvasWrapper * {
  box-sizing: border-box;
}

.canvasWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas {
  user-select: none;
}

.widget {
  position: absolute;
  top: 0;
  z-index: 1;

  height: 40px;
  padding: 15px 20px;

  font: normal 400 20px/32px var(--regular-font);

  user-select: none;
}

.score {
  left: 0;
}

.boost {
  right: 0;
}

.boostItem {
  display: flex;
  align-items: center;

  opacity: 0.1;
}

.boostItem.boostItemActive {
  opacity: 1;
}

.boostTime {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: 50vw;
}

.boostProgressBar {
  transform-origin: center;

  height: 2px;

  background: red;

  animation: boostProgressBar 3s linear;
}

@keyframes boostProgressBar {
  from {
    width: 100%;
    opacity: 1;
  }

  to {
    width: 0;
    opacity: 0;
  }
}

.boostIcon {
  width: 60px;
  height: 60px;

  margin: 0 15px;

  object-fit: contain;
  object-position: center;
}

.boostIcon.boostIconBig {
  display: block;
  margin: 0 auto 20px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  font: normal 400 20px/32px var(--regular-font);
  text-align: center;

  background-color: white;
  padding: 50px;
}

.popupButton {
  margin-top: 40px;
  padding: 0;

  background-color: red;
  border: none;
  outline: none;

  cursor: pointer;
}
