.sidebar {
  box-sizing: border-box;
  background: var(--second-color);

  display: flex;
  flex-direction: column;

  padding: 24px;

  min-width: 96px;
  width: 378px;

  overflow: hidden;
}

.avatar {
  margin-bottom: 45px;
}

@media (max-width: 1399px) {
  .sidebar {
    width: 100px;
    overflow-y: hidden;
  }
}
