.container {
  max-width: 764px;
}

.title {
  font: normal 700 24px/36px 'Inter Bold', sans-serif;
  color: var(--text-color);

  margin: 0;
}

.subtitle {
  font: normal 400 20px/32px 'Inter Regular', sans-serif;
  color: var(--text-color);

  margin: 0;
}
