.container {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.wrapper {
  margin-left: 178px;
  width: 337px;
}

.label {
  width: 157px;
  text-align: right;
  margin-top: 12px;
}

hr {
  width: 100%;
  border: 1px solid #3c3844;
}

.error {
  text-align: center;
}
