.list {
  padding: 0;
}

.link {
  text-decoration: none;
}

.exit {
  margin-top: auto;
  margin-bottom: 0;
}

.active {
  color: #9dc2ff;
  text-decoration: underline;
}

@media (max-width: 1399px) {
  .exit svg {
    position: absolute;
  }
}
